<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated Proyecto-UML -->
      <package
            uri="http:///ProyectoUML.ecore"
            class="ProyectoUML.ProyectoUMLPackage"
            genModel="Proyecto-UML.genmodel"/>
   </extension>

</plugin>
